html, body {
    font-family: Arial, sans-serif;
    background-color: #2ECC71;
    color: #030202;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow-x: hidden;
}

* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    background-color: #2ECC71;
    text-align: center;
    padding: 20px;
    border-bottom: 3px solid #fec001;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

header img {
    width: 120px;
}

header div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    color: #fec001;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    background-color: #007BFF;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    position: relative;
    margin-right: 5px;
}

/* LINKS DEL MENÚ */
nav ul li a {
    text-decoration: none;
    color: #f4cf51;
    background-color: #043afe;
    padding: 10px;
    border-radius: 5px;
    display: block;
    text-align: center;
}

.active {
    background-color: #FFC107;
    color: #047bfe;
}

/* RESPONSIVE PARA MÓVILES */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        width: 100%;
    }

    #searchForm {
        align-self: center;
    }
}

/* SEARCH BAR */
.search-container {
    position: relative;
    display: inline-block;
}

#searchInput {
    padding: 10px 35px 10px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 220px;
    font-size: 11px;
}

.search-button {
    position: absolute;
    right: 10px;
    top: 44%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url("../img/lupa.png") no-repeat center;
    background-size: contain;
    border: none;
    cursor: pointer;
}

/* MAIN CONTENT */
main {
    display: flex;
    
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    margin: 20px;
    flex-wrap: wrap;
}

.left-content {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main section {
    background-color: #f4cf51;
    border-radius: 6px;
    letter-spacing: 0.8px;
    padding: 30px;
    text-align: justify;
}

main section h2 {
    text-align: center;
}

/* RESPONSIVE FILTERS */
.filters {
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 30%;
}

.filters select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
}

/* RESPONSIVE ACCOMMODATIONS */
.accommodation-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.accommodation {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.accommodation img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.accommodation ul {
    list-style: none;
    padding: 0;
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
    .filters {
        width: 100%;
        align-items: center;
    }

    .filters select {
        width: 90%;
        margin-bottom: 10px;
    }

    .accommodation-list {
        flex-direction: column;
        align-items: center;
    }

    .accommodation {
        width: 90%;
    }
}

.extra-info {
    display: none;
    margin-top: 10px;
    padding: 0 15px;
    background-color: #2ecc71;
    border-radius: 5px;
    text-align: justify;
    transition: all 0.3s ease-in-out;
}

.view-more-btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 8px 12px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.view-more-btn:hover {
    background-color: #0056b3;
}

.lblTrip {
    color: #e2675b;
}

.book-now, .btnmodal-submit {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 12px;
    background-color: #f4cf51;
    color: #007BFF;
    border-color: #007BFF;
    border-radius: 5px;
    cursor: pointer;
}

#plan-trip {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007BFF;
    color: #f4cf51;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#plan-trip:hover {
    background-color: #f4cf51;
    color: #047bfe;
}

.info-cards {
    width: 95%;
    border-collapse: collapse;
    text-align: center;
    margin: 10px;
}

.info-cards td {
    width: 33%;
    vertical-align: baseline;
    padding: 10px;
}

.info-cards img {
    width: 60%;
}

.info-cards tr td p {
    text-align: justify; /* Justifica solo los párrafos dentro de los td */
}

/* ESTILOS PARA LABELS */
label {
    margin-top: 8px;
    font-weight: bold;
    color: #ff6e61;
    font-size: 0.9em;
}

/* INPUTS Y SELECTS */
input, select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 16px;
    margin-top: 5px;
    background-color: white;
    color: black;
    box-sizing: border-box;
}

input {
    width: 100%; /* Se asegura que ocupe todo el espacio */
}

/* RESPONSIVE DESIGN SCREEN LITTLE */
@media (max-width: 480px) {
    input, select {
        font-size: 14px;
        padding: 8px;
    }
}

footer {
    background-color: #333333;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 12px;
    text-align: center;
    color: #FF6F61;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    padding: 10px;
}

.footer-links h3 {
    text-decoration: underline;
    margin-bottom: 10px;
}

.footer-section img {
    width: 20px;
}

footer .language-selection {
    display: block;
}

.footer-right {
    background-color: #FAF3E0;
}

footer a {
    color: #bbbbbb !important;
}

#unplash_footer {
    color: #676767 !important;
}

.footer-right p {
    text-align: center;
    font-family: serif;
    font-size: 12px;
    background-color: #bdbdbd;
}

/* RESPONSIVE FOOTER */
@media (max-width: 768px) {
    .footer-links {
        flex-direction: column;
        text-align: center;
    }

    .footer-section {
        width: 100%;
    }
}

p a, ul li a {
    color: #676767;
}

.highlight {
    background-color: yellow;
    color: red;
    font-weight: bold;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    width: 50%;
    border-radius: 8px;
    text-align: center;
}

.close {
    position: absolute;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
}

#btnmodal {
    width: 25%;
    margin-top: 20px;
}

/* Mantener el footer con tres columnas en pantallas grandes */
.footer-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header .language-selection {
    display: none;
}

/* En pantallas pequeñas, reorganizar el footer */
@media (max-width: 768px) {
    .footer-links {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-section {
        width: 100%;
        margin-bottom: 10px;
    }

    footer .language-selection {
        display: none;
    }

    nav .language-selection {
        display: none;
    }

    /* Asegurar que la selección de idioma sea visible */
    header .language-selection {
        display: block;
        position: absolute;
        top: 10px;
        right: 20px;
        z-index: 1000; /* Asegura que esté por encima de otros elementos */
    }

    header .language-selection select {
        padding: 8px;
        border-radius: 5px;
        font-size: 14px;
        background-color: white;
        border: 1px solid #ccc;
        position: relative;
        z-index: 1001;
        width: auto;
        min-width: 120px;
        -webkit-appearance: none; 
        -moz-appearance: none;
        appearance: none;
    }

    header .language-selection select:focus {
        outline: none;
    }
}
